body {
    overflow-x: hidden;
}

.popoverClass{
    width: 120%;
    margin-top: 5px;
    margin-left: -10%;
    text-align: center;
    position: absolute;
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    padding: 5px;
    font-size: 0.8em;
    color: black;
    border-radius: 5px;
}

.relative-name-adm {
    top: 2px;
}

.relative-card-adm {
    top: -20px;
}

.animate_duracao {
    --animate-duration: 1s;
}

.hover-status:hover {
    cursor: pointer;
}

.status-position {
    top: 2px;
}

.status-font {
    font-size: 0.9em;
}

.pos-adm-name-realizado {
    bottom: 20px;
    left: 20px;
}